*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    color: black;
    font-size: 15px;
    line-height: 1.5;
}
a{
    color: #4b4949;
    text-decoration: none;
}
#nav-bar img{
    width: 140px;
}
ul{
    list-style: none;
}
.main{
    width: 90%;
    max-width: 100%;
    margin: auto;
}
#nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main ul{
    display: flex;
    align-items: center;
}
.main .main-menu{
    flex: 1;
    margin-left: 30px;
}

.main ul li{
    padding:0px 15px;
}

.main ul li a:hover{
    border-bottom: 2px solid black;
}

.bar{
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 27px;
    z-index: 2;
    display: none;
}

.bt1{
    background-color: black;
    color: white;
    border: none;
    padding: 8px 13px;
    font-weight: bold;
    cursor: pointer;
}
.bt1:hover{
    opacity: 0.7;
}

/*showcase*/
.showcase{
    width: 100%;
    height: 400px;
    background-image: url(https://cdn.mos.cms.futurecdn.net/XFxA8u3jfEKYQHHkbjrzr8.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end ;
    padding-bottom: 50px;
}

.showcase h2,p{
    margin-bottom: 10px;
}

.showcase .bt1{
    margin-top: 10px;
}

/*home-cards*/
#homecards img{
    width: 100%;
    margin-bottom: 10px;
}

#homecards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

#homecards a{
    color: #1589d5;
    font-weight: bold;
    cursor: pointer;
}
#homecards a:hover i{
    margin-left: 10px;
}

/*X-box*/
.xbox{
    background-image: url(https://getwallpapers.com/wallpaper/full/6/f/6/1000401-amazing-tyranid-wallpaper-1920x1080-for-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    margin-top: 20px;
}

.xbox .content{
    width: 40%;
    padding: 40px;

}

.xbox .content p{
    margin: 20px 0px;
}

/*green-card*/
.green{
    background-image: url(https://wallpaperaccess.com/full/30084.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    margin-top: 20px; 
    justify-content: center;
}

.green .content2{
    color: white;
    width: 40%;
}

.green .content2{
    width: 40%;
    padding: 40px;

}

.green .content2 p{
    margin: 20px 0px;
}

.green .bt1{
    background-color:white;
    color: black;
}

/*footer1*/
#footer1{
    display: flex;
    align-items: center;
    padding: 20px 0px;
}
#footer1 i{
    margin-left: 10px;
}

/*link*/
.link{
    background-color: #80808068;
    padding: 20px ;
}
.link-menu{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    max-width: 1100px;
    margin: 0 auto;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;

}
.link-menu li{
    line-height: 2.8;
}

/*footer2*/

footer{
    background-color: #80808068;
    padding: 20px 0px;

}

.inner-footer{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
}

footer ul{
    display: flex;
    flex-wrap: wrap;
}

footer li{
    margin-right: 20px;
}

.globe i {
    padding-right: 10px;
}

/* media */
@media(max-width: 800px){
    .bar{
        display: block;
    }
    #right-menu{
        margin-right: 15px;
    }
    .bar:hover{
        opacity: 0.5;
    }
    .main .main-menu{
        display: block;
        position: absolute;
        top:0; 
        left: 0;
        background-color: #ede9e9;
        width: 40%;
        height: 90%;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
        border: 1px solid #8080807c;
        opacity: 0.9;
    }
    #nav-bar ul li{
        padding: 10px;
    }
    .main .main-menu.show{
        transform: translateX(-30px);
    }
    #homecards{
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }
    .xbox .content p{
        display: none;
    }

    .xbox .content h3{
        margin-bottom: 20px;
    }

    .green .content2{
        width: 90%;
    }

    .link-menu{
        grid-template-columns: repeat(2,1fr);
    }

}

